// Fuentes


$fuente-principal: "Montserrat", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 960px;
$desktop: 1024px;
$xl_desktop: 1328px;

// Colores
$azul: #007df4;
$secundario: #00c8c2;

$negro: #000000;
$negro_claro: rgba(29, 29, 29, 1);


$blanco: #FFFFFF;
$transparente: #ffffff00;
$gris: rgba(200, 200, 200, 0.897);
$gris-claro: rgba(240, 240, 240, 0.815);
$gris-oscuro: rgba(220, 220, 220, 0.699);

$rojo: rgb(169, 0, 0);
$verde: #02db02;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 800