@use 'base/mixins' as m;
@use 'base/variables' as v;



.servicios_iconos{
    background-color: v.$negro_claro;

    &__contenedor{
        @include m.contenedor;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include m.tablet{
            gap: 1rem;
         }
    }
}


.servicios__manufactura-item{

    @include m.tablet{
        padding: 2rem;
     }

}

.servicios_descripcion{
    background-color: v.$negro;
    display: flex;
    flex-direction: column;
    @include m.tablet{
        @include m.grid(2,.2rem);
     }
    

    &__item{
        background-color: v.$blanco;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-left: 10rem;
        padding-right: 10rem;

        @include m.tablet{
            align-items: start;
            text-align: start;
         }
        
    }
}

.servicios_carrusel{
    background-color: v.$negro;
    
    &__contenido{
        background-color: v.$negro_claro;
        height: 20rem;
        width: 100%;
    }
}